body{
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

img {
    width: 60px;
}